@import url('https://fonts.googleapis.com/css?family=monospace&display=swap');

.dashboard {
  display: flex;
  flex-direction: column;
  width: 95%;
  background: teal;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 ); 
  border-radius: 16px;
  opacity: 0.9;
  box-shadow: 0.5px 2px 7px #282c34;
}

form {
  float: left;
  margin-top: 2%;
  width: 60%;
  align-self: center;
  border-radius: 9px;
  box-shadow: 0.5px 2px 7px #282c34;
  margin-bottom: 2%;
}

form > .textbox {
  outline: 0;
  height: 52px;
  width: 70%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  font-size: 14pt;
  font-weight: 900;
  border-radius: 8px 0 0 8px;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 52px;
  width: 30%;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}

.popular {
  border-top: 1px solid #282c34;
  width: 96%;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

h3 {
  width: 100%;
  align-self: center;
  font-size: 14pt;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}

h4 {
  width: 100%;
  align-self: center;
  font-size: 15pt;
  padding: 0;
  margin-top: 4px;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}

.book-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 270px;
}

.add-button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 52px;
  width: 100%;
  text-align: center;
  border: 0;
  margin: 4px;
  margin-bottom: 10px;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 6px;
  cursor: pointer;
  font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}

@media screen and (max-width: 800px) {
  .dashboard {
    margin-top: 60%;
    height: 60%;
  }
  form {
    width: 90%;
  }
  .book-cards {
    flex-direction: row;
    width: 100%;
  }
}
