.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 90, 90);
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
}

.content {
  display: flex;
  flex-direction: row;
}

.footer-logo {
  width: 70px;
}