@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0;
  box-shadow: 0.5px 2px 7px #282c34;
  align-self: center;
  height: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 13%;
  margin-left: 100px;
  padding: 0.3%;
}

.nav-link {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
  align-self: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  text-align: center;
  font-size: 14pt;
  height: 40px;
}

.link-icon {
  width: 22px;
  height: 22px;
}

a {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 900;
  color: teal;
  padding-top: 1.2%;
  margin-top: 0;
}

.link:hover {
  border-bottom: 1px solid teal;
  background-color: teal;
  border-color: teal;
  color: white;
  height: 44px;
}

.link:focus {
  background-color: teal;
}